---
---

@import 'jekyll-theme-cayman';

.page-header {
    color: #3c3c3c;
    background-color: #f4eaff;
    background-image: none;
}

body {
    font-family: 'Playfair Display', serif;
}

.main-content h1, 
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #48116a;
}

.main-content blockquote{
    border-left: 0.3rem solid #f4eaff;
}

img {
    height: 80px;
}

.socialMedias {
    display: flex;
}